##### PORTS
TRAEFIK_HTTP_PORT=80
TRAEFIK_HTTPS_PORT=443
TRAEFIK_WEBUI_PORT=8080

PORTAINER_HTTP_PORT=9000
PORTAINER_HTTPS_PORT=9443

##### SYSTEM
PUID=1001
PGID=27
TZ=America/Chicago

##### BASE DIRECTORIES
DOCKER_DIR=/home/docker
PRIVATE_DIR=$DOCKER_DIR/private
PUBLIC_DIR=$DOCKER_DIR/public

##### PRIVATE DIRECTORIES
SECRETS_DIR=$PRIVATE_DIR/secrets
SCRIPTS_DIR=$PRIVATE_DIR/scripts

##### PUBLIC DIRECTORIES
APPS_DIR=$PUBLIC_DIR/apps
COMPOSE_DIR=$PUBLIC_DIR/compose
LOGS_DIR=$PUBLIC_DIR/logs
SHARED_DIR=$PUBLIC_DIR/shared

##### FILE LOCATIONS
ENV_FILE=$PRIVATE_DIR/.env

##### NETWORK
SERVER_IP=xxx.xxx.xxx.xxx # Replace with the IP address of the Server on the local network.
PUBLIC_IP=xx.xx.xx.xx # Replace with the public IP address where the Server is located.
DOMAIN_NAME=server.example.com

##### DATABASE


##### SECURITY AND PRIVACY


##### APP SPECIFIC

