##### PORTS
TRAEFIK_HTTP_PORT=80
TRAEFIK_HTTPS_PORT=443
#TRAEFIK_WEBUI_PORT=8080

PORTAINER_HTTP_PORT=9000
PORTAINER_HTTPS_PORT=9443

##### SYSTEM
PUID=1001
PGID=27
TZ=America/Chicago

##### BASE DIRECTORIES
DOCKER_DIR=/home/docker
PRIVATE_DIR=$DOCKER_DIR/private
PUBLIC_DIR=$DOCKER_DIR/public

##### PRIVATE DIRECTORIES
SECRETS_DIR=$PRIVATE_DIR/secrets
SCRIPTS_DIR=$PRIVATE_DIR/scripts

##### PUBLIC DIRECTORIES
APPS_DIR=$PUBLIC_DIR/apps
COMPOSE_DIR=$PUBLIC_DIR/compose
LOGS_DIR=$PUBLIC_DIR/logs
SHARED_DIR=$PUBLIC_DIR/shared

##### FILE LOCATIONS
ENV_FILE=$PRIVATE_DIR/.env

##### NETWORK
SERVER_IP=xx.xx.xx.xx # Specify the internal IPv4 Address for the Server on the local network.
PUBLIC_IP=xx.xx.xx.xx # Specify the external IPv4 Address that the domain "server.example.com" would point to with a (DNS) CNAME record.
DOMAIN_NAME=server.example.com # Replace with the domain that will point to the public IP address where the Server is located.

##### DATABASE


##### SECURITY AND PRIVACY


##### APP SPECIFIC

